@import 'src/style/global.scss';

.container {
  width: 100%;
  background-color: $semi-dark-background;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}